# Next.js
/.next/
/out/
/build

# Production Node Keys (CRITICAL)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency Node
node_modules/
jspm_packages/

# Firebase Node
.firebase/
firestore.rules.bak
*.log

# System Node
.DS_Store
*.pem
Thumbs.db
